<%= form_with model: @user, url: users_path, method: :post, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      顧客情報入力
    </h1>
  </div>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
  <%= render 'users/shared/error_messages', model: f.object%>
  <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">担当</label>
        <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :staff_id, class:"input-default", id:"staff_id",size: "10x1",  placeholder:"例）1"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :last_name, class:"input-name", id:"last-name", size: "15x1", placeholder:"例) 山田" %>
      <%= f.text_area :first_name, class:"input-name", id:"first-name",size: "15x1",  placeholder:"例) 陸太郎" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :last_name_katakana, class:"input-name", id:"last-name-kana",size: "15x1",  placeholder:"例) ヤマダ" %>
      <%= f.text_area :first_name_katakana, class:"input-name", id:"first-name-kana", size: "15x1", placeholder:"例) リクタロウ" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender"}) %>
    </div>
    <div class='shipping-address-form'>
      <h1 class='info-input-haedline'>
        住所入力
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">郵便番号</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :address_number, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">都道府県、市区町村</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）神奈川県横浜市緑区" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">番地</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :address, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">建物名</label>
          <span class="form-any">任意</span>
        </div>
        <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">携帯電話番号</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">固定電話番号</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_field :telephone_number, class:"input-default", id:"telephone-number", placeholder:"例）0311111111",maxlength:"11"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">詳細</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_field :detail, class:"input-default", id:"detail", placeholder:"例）職種や好み家族構成など"%>
      </div>
    </div>
    <p class='info-text'>※ 本人情報は正しく入力してください。</p>
  </div>
  <div class='register-btn'>
    <%= f.submit "顧客登録" ,class:"register-red-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>
<% end %>
