<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">お客様の寸法を入力</h2>
    <%= form_with model: @size, url: sizes_path, method: :post, local: true do |f| %>
     <%= render 'users/shared/error_messages', model: f.object %>
        <div class="user-sizes">
         <h3>お客様の基本データ</h3>
          <div class="personal_id">
           <div class="weight-bold-text">
             顧客ID
            <span class="indispensable">必須</span>
           </div>
            <%= f.text_area :user_id, class:"user_id", id:"user-name",size: "15x1",  placeholder:"顧客ID(顧客データ参照)" %>
          </div>
          <div class="items-explain">
            <div class="weight-bold-text">
              身長
            </div>
            <%= f.text_area :height, class:"user_height", id:"user-height", placeholder:"お客様の身長(高齢の方は変わっている可能性もあるので注意)" %>
          </div>
          <div class="items-explain">
            <div class="weight-bold-text">
              胸囲
            </div>
            <%= f.text_area :bust, class:"user_bust", id:"user-bust",size: "10x1",  placeholder:"お客様の胸囲" %>
          </div>
          <div class="items-explain">
            <div class="weight-bold-text">
              ヒップ
            </div>
            <%= f.text_area :hip, class:"user_hip", id:"user-hip",size: "10x1", placeholder:"お客様のヒップ" %>
          </div>
          <div class="items-explain">
            <div class="weight-bold-text">
              裄
            </div>
            <%= f.text_area :sleeve_length, class:"user_sleeve_length", id:"user-sleeve-length", size: "10x1",placeholder:"お客様の裄" %>
          </div>
        </div>
        <div class="kimono_size">
         <h3>着物寸法</h3>
          <div class="form">
            <div class="weight-bold-text">
              身丈
            </div>
            <%= f.text_area :kimono_height, class:"kimono_height", id:"kimono_height",size: "10x1", placeholder:"身丈(肩)" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              裄
            </div>
            <%= f.text_area :kimono_yuki, class:"kimono_yuki", id:"kimono_yuki", size: "10x1",placeholder:"裄" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              前巾
            </div>
            <%= f.text_area :kimono_maehaba, class:"kimono_maehaba", id:"kimono_maehaba", size: "10x1",placeholder:"前巾" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              後巾
            </div>
            <%= f.text_area :kimono_usirohaba, class:"kimono_usirohaba", id:"kimono_usirohaba", size: "10x1",placeholder:"繰越" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              繰越
            </div>
            <%= f.text_area :kimono_kurikosi, class:"kimono_kurikosi", id:"kimono_kurikosi", size: "10x1",placeholder:"繰越" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              肩巾
            </div>
            <%= f.text_area :kimono_katahaba, class:"kimono_katahaba", id:"kimono_katahaba",size: "10x1", placeholder:"肩巾" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              袖巾
            </div>
            <%= f.text_area :kimono_sodehaba, class:"kimono_sodehaba", id:"kimono_sodehaba", size: "10x1",placeholder:"袖巾" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              袖付
            </div>
            <%= f.text_area :kimono_sodetuke, class:"kimono_sodetuke", id:"kimono_sodetuke", size: "10x1",placeholder:"袖付" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              袖丸み
            </div>
            <%= f.text_area :kimono_marumi, class:"kimono_marumi", id:"kimono_marumi", size: "10x1",placeholder:"袖丸み" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              褄下
            </div>
            <%= f.text_area :kimono_tumasta, class:"kimono_tumasita", id:"kimono_tumasita", size: "10x1",placeholder:"褄下" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              衿巾
            </div>
            <%= f.text_area :kimono_erihaba, class:"kimono_erihaba", id:"kimono_erihaba",size: "10x1", placeholder:"衿巾" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              肩明
            </div>
            <%= f.text_area :kimono_yuki, class:"kimono_yuki", id:"kimono_yuki",size: "10x1", placeholder:"裄" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              衿肩
            </div>
            <%= f.text_area :kimono_erikata, class:"kimono_erikata", id:"kimono_erikata",size: "10x1", placeholder:"衿肩" %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              詳細
            </div>
            <%= f.text_area :kimono_yuki, class:"kimono_yuki", id:"kimono_yuki", size: "10x1",placeholder:"詳細(着物の柄や加工する上でのお客様との約束事など必ず記載)" %>
          </div>
        </div>

        <div class="sell-btn-contents">
          <%= f.submit "登録する" ,class:"back-btn" %>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
    <% end %>
  </div>
</div>