<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <%= render 'users/shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="field">
    <%= f.label :スタッフid %><br />
    <%= f.password_field :id, autocomplete: "スタッフID" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

